<!DOCTYPE html>
<html>
<head><%include partials/template/head.ejs%></head>
<body>
    <%include partials/template/header.ejs%>
    <section class="layout">
        <div class="primary">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, at cum, cupiditate distinctio
                    id labore laborum magni minima molestiae nam nemo placeat quasi quod reprehenderit rerum veniam
                    vero. Eligendi, reiciendis.
                </div>
        </div><!-- primary -->
        <aside class="secondary">
            <div>
                Accusamus alias aliquam at, atque corporis delectus dolor dolorem doloribus harum hic in ipsum
                laudantium maiores mollitia nemo neque obcaecati officia omnis placeat quae recusandae, reiciendis
                repellat? Aperiam quidem, suscipit.
            </div>
        </aside><!-- secondary -->
    </section><!-- layout -->
    <%include partials/template/footer.ejs%>
    <%include partials/template/jsdefaults.ejs%>
</body>
</html>